#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.leaflet-tooltip {
  min-width: 300px;
  white-space: normal !important;
  overflow-wrap: break-word;
}

.leaflet-tooltip ul {
  padding-left: 20px;
  margin: 0;
}